<h2>Pentru a putea avea parte de întreaga experiență și gamă de produse StationarE!, vă rog să vă autentificați</h2>
<form action='/verificare-autentificare' method='POST'>
    <div class="container">
        <label for="uname"><b>Utilizator:</b></label>
        <input type="text" placeholder="Introdu numele de utilizator" name="uname" required><br>

        <label for="psw"><b>Parola:</b></label>
        <input type="password" placeholder="Introdu parola" name="psw" required><br>
            
        <input type="submit" value="Autentificare">
    </div>
</form>