<!--pagina de autentificare-->

<h1>Pagina de baza</h1>
<h2><b><%= mesaj%></b></h2>
<h3><%= utilizator%></h3>
<% if(typeof mesaj !== 'undefined') {%>
    <button class="log-out">
        <a href="/logout" >Click to logout</a>
    </button>
<% } %>
<form action='/autentificare' method='POST'>
    <input type="submit" value="Autentificare">
</form>

<input type="submit" value="Creare BD">
<input type="submit" value="Încarcare BD">