<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>StationarE!</title>
    </head>
    <body>
        <!--
        <% if(typeof utilizator !== 'undefined') { %>
            <h2><%= utilizator%>!</h2>
        <% } %> -->
        <h1><b>StationarE!</b></h1>
        <nav class="navbar">
            <a href="/">Acasă</a>
            <a href="/chestionar">Chestionar</a>
            <a href="/vizualizare-cos">Coș</a>
            <a href="/autentificare">Logare</a>
        </nav>
        <main><%- body %></main>
        <footer>
            <p>
                &copy;2022 by Chelarasu Elena. All Rights Reserved.
                <br>Elena is Powered by chocolate and stickers.
            </p>
        </footer>
    </body>
</html>