<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="./style.css" />
        <title>StationarE!</title>
    </head>
    <body>
        <!--
        <% if(typeof utilizator !== 'undefined') { %>
            <h2><%= utilizator%>!</h2>
        <% } %> -->
        <main><%- body %></main>
    </body>
</html>