<body>
    <% for (var i = 0; i < rezultate.length; i++) { %>
        <h2><%= rezultate[i]['intrebare'] %></h2> 
        <p><%= rezultate[i]['rezultat'] %></p> 
    <% } %>    
    <h1>Final:<%=suma %></h1>
</body>